<app-pagination-alphabetical (pageChanged)="onPageChanged($event)"></app-pagination-alphabetical>
<div class = "grid-container">
    <div [@inOutAnimation]="'in'" *ngFor="let item of results">
        <div  class = "tile">      
                    <div class = "headerContainer">
                        <h1 class = "headerTittle">{{item.tittle}}</h1>
                    </div>
                    <img src = {{item.imageUrl}}>
                    <div class = "locationDiv">
                        <h1 class = "wojewodztwoName">{{item.wojewodztwo}}</h1>
                        <h1 class = "powiatName">{{item.powiat}}</h1>
                    </div>
                    <div class = "designedElementsDiv">
                        <h1 class = "designedElements">{{item.designedElements}}</h1>
                    </div>
                </div>
    </div>
