<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <title>Portfolio projektowe</title>
  <script src="MapLocation.js"></script>
</head>

<body>
<div class = empty-space>

</div>
  <h1 class="banner">
    <!-- Miasto i gmina Chorzele -->
  </h1>

  <div class="maincontent">
    <div class="description">
      <div class = "map-and-description-container" style="display: flex;">
        <div class ="text-container" style= "width: 60%; margin-right: auto;  margin-left: 0px">
          <h1>O gminie</h1>
          <p>
            <!-- Gmina miejsko-wiejska w powiecie przasnyskim i województwie mazowieckim. Zamieszkuje ją około 10 200 osób, z czego w samym mieście około 3 100 osób. Miasto Chorzele, lokowane w XV wieku, było miastem królewskim Korony Królestwa polskiego. Prawa miejskie utraciło w 1870 roku i odzyskało w 1919 roku. -->
          </p>
        </div>
        <div id="mapid" style="height: 300px; width: 35%; margin-left: auto; margin-top: 20px; z-index: 0;">
          <script>initMap()</script>
        </div>
      </div>
      <h1>
        Herb
      </h1>
      <p>
        <!-- W polu srebrnym drzewo zielone o trzech korzeniach i dwóch konarach, z których prawy dodatkowo rozgałęziony na dwa mniejsze, na którego szczycie znajduje się owoc karczocha zielony; na lewo od pnia róg myśliwski czarny z okuciami, ustnikiem i wylotem złotymi, ułożony na opak w skos. -->
      </p>
      <p>
        <!-- Godło herbowe znane z XVI i XVII-wiecznych pieczęci miejskich. Motyw drzewa z karczochem zaczerpnięty został być może z medalionu królowej Bony autorstwa Jana Marii Padovano. Karczoch to symbol płodności i użyczenie tego motywu herbowi miasta mogło stanowić pomyślną wróżbę na przyszłość. Róg myśliwski dodano zapewne w nawiązaniu do obfitości zwierzyny w okolicznych lasach. -->
      </p>
      <div class="description-images-wrapper">
      <div class="image-wrapper">
        <!-- <img class="image" src="Resources/POL_Bona_Sforza_Medal_Awers.png"> -->
        <p class="image-label">
          <!-- Medalion królowej Bony -->
      </p>
      </div>
      <div class="image-wrapper">
        <!-- <img class="image" src="Resources/1553.png"> -->
        <p class="image-label">
          <!-- Odcisk pieczęci Chorzel na dokumencie z 1553 roku -->
        </p>
      </div>
      <div class="image-wrapper">
        <!-- <img class="image" src="Resources/1660.png"> -->
        <p class="image-label">
          <!-- Odcisk pieczęci Chorzel na dokumencie z 1660 roku -->
        </p>
      </div>
      </div>
      <h1>
        Pozostałe symbole
      </h1>
      <p>
        <!-- Razem z herbem opracowane zostały także flaga, banner oraz pieczęcie: ogólna, burmistrza i rady miejskiej. -->
      </p>
      <h1>
        Historia
      </h1>
      <p>
        <!-- Herb oraz inne symbole gminy Chorzele zostały przyjęte 5 sierpnia 2012 roku. -->
      </p>
      <!-- <div class="buttons">
        <div class="button">
          <a href="Uzasadnienie-Chorzele.pdf" target="_blank" style="text-decoration:none">
            <div class="content">
              <h1 class="button-description">
                Uzasadnienie PDF
              </h1>
            </div>
          </a>
        </div>
        <div class="button2">
          <a href="Resources/Chorzele.jpg" target="_blank" style="text-decoration:none">
            <div class="content2">
              <h1 class="button-description2">
                Referencje PDF
              </h1>
            </div>
          </a>
        </div>
      </div> -->
    </div>
    <div class="sidebar">
      <div class="sidebarheader">
        <h1 class="insygnia-label">
          Insygnia gminy
        </h1>
        <!-- <image
          src="Resources/Chorzele_1.png"
          id="herb">
        </image> -->
        <h1 class="label">
          Herb
        </h1>
      </div>
      <!-- <image src="Resources/Chorzele_flaga_fala.png" id="flaga" /> -->
      <h1 class="label">
        Flaga
      </h1>
     <div class="pieczecie-row1">
      <!-- <image src="Resources/Chorzele_pieczęć_burmistrz.png" id="pieczec"> -->
      <!-- </image>
      <image src="Resources/Chorzele_pieczęć_ogólna.png" id="pieczec">
      </image> -->
     </div>
     <div class ="pieczecie-row2">
      <!-- <image src="Resources/Chorzele_pieczęć_rada.png" id="pieczec">
      </image> -->
     </div>
      <h1 class="label">
        Pieczęcie
      </h1>
      <div class="banner-wrapper">
        <!-- <image src="Resources/Chorzele_baner.png" id="baner"/> -->
      </div>
      <h1 class="label">
        Baner
      </h1>
    </div>
  </div>
</body>
</html>
