<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <title>Portfolio projektowe</title>
  <script src="MapLocation.js"></script>
</head>

<body *ngIf="detailsVisible">
  <h1 *ngIf="!editFormVisible" class="banner">
    {{locationName}}
  </h1>

  <textarea style="color: white; background-color: brown; margin-top: 200px; text-align: center; font-size: 50px;" *ngIf="editFormVisible" type="text" [(ngModel)]="locationName"></textarea>

  <button class="close-button" (click)="onDetailsClosed()">Zamknij</button>
  <button *ngIf="checkIsAdmin() && !editFormVisible" class="edit-button" (click)="setEditable()">Edytuj</button>
  <button *ngIf="checkIsAdmin() && editFormVisible" class="save-button" (click)="setEditable();modifyEntry()">Zapisz</button>
  <div class="maincontent">
    <div class="description">
      <h1 *ngIf="editFormVisible">
        Zaprojektowane elementy:
      </h1>
      <textarea *ngIf="editFormVisible" type="text" [(ngModel)]="designedElements"></textarea>
      <h1 *ngIf="editFormVisible">
        Województwo:
      </h1>
      <textarea *ngIf="editFormVisible" type="text" [(ngModel)]="wojewodztwo"></textarea>
      <h1 *ngIf="editFormVisible">
        Powiat:
      </h1>
      <textarea *ngIf="editFormVisible" type="text" [(ngModel)]="powiat"></textarea>
      <div class = "map-and-description-container" style="display: flex; height: 100%;">
        <div class ="text-container" style= "width: 60%; margin-right: auto;  margin-left: 0px">
          <h1>O gminie</h1>
          <p *ngIf="!editFormVisible">
            {{locationDetails}}
          </p>
          <textarea *ngIf="editFormVisible" type="text" [(ngModel)]="locationDetails"></textarea>
        </div>
        <div id="mapid" style="height: 300px; width: 35%; margin-left: auto; margin-top: 20px; z-index: 0;">
          <script>initMap()</script>
        </div>
      </div>
        <h1>
          Herb
        </h1>
        <p *ngIf="!editFormVisible">{{coatOfArmsDescription}}</p>
        <textarea *ngIf="editFormVisible" type="text" [(ngModel)]="coatOfArmsDescription"></textarea>
        
      <div class="description-images-wrapper">
      <div *ngFor="let image of imagesUrlsPageBody" class="image-wrapper">
        <img class="image" src={{image?.url}}>
        <p class="image-label">
          {{image?.name}}
        </p>
      </div>
      </div>
      <h1>
        Pozostałe symbole
      </h1>
      <p *ngIf="!editFormVisible">
        {{symbolsDescription}}
      </p>
      <textarea style="height: 300px;" *ngIf=" editFormVisible" type="text" [(ngModel)]="symbolsDescription"></textarea>
      <h1>
        Historia
      </h1>
      <p *ngIf="!editFormVisible">
        {{history}}
      </p>
      <textarea style="height: 300px" *ngIf="editFormVisible" type="text" [(ngModel)]="history"></textarea>
      <div class="buttons">
        <div *ngFor="let document of documents" class="button">
          <a href={{document?.url}} target="_blank" style="text-decoration:none">
            <div class="content">
              <h1 class="button-description">
                {{document?.name}}
              </h1>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="sidebar" >
      <div class="sidebarheader">
        <h1 class="insygnia-label">
          Insygnia gminy
        </h1>
        <div *ngFor="let image of imagesUrlsPageLeftPane">
          <img *ngIf="image.name === 'Herb'" src={{image.url}} id="herb">
        </div>
        <!-- <div *ngIf="editFormVisible" class="file-drop-zone" 
     cdkDropList 
     (cdkDropListDropped)="drop($event)">
  <div class="file-drop-zone-inner">
    <input type="file" (change)="onFileChanged($event)">
    <p>Upuść plik lub kliknij, aby wybrać plik do przesłania</p>
  </div>
</div> -->
        <h1 class="label">
          Herb
        </h1>
      </div>
      <div *ngFor="let image of imagesUrlsPageLeftPane">
        <img *ngIf="image.name === 'Flaga'" src={{image.url}} id="flaga">
      </div>
      <h1 class="label">
        Flaga
      </h1>

     <div class ="pieczecie-row2">
      <div *ngFor="let image of imagesUrlsPageLeftPane">
        <img *ngIf="image.name === 'Pieczec'" src={{image.url}} id="pieczec">
      </div>
     </div>
      <h1 class="label">
        Pieczęć
      </h1>
      <div class="banner-wrapper">
        <div *ngFor="let image of imagesUrlsPageLeftPane">
          <img *ngIf="image.name === 'Baner'" src={{image.url}} id="baner">
        </div>
      </div>
      <h1 class="label">
        Baner
      </h1>
    </div>
  </div>
</body>
</html>
